{{!-- this partial is almost the same than the post-info partial, the reason i created this, is that i need to hide some data 
on the homepage route --}}
<article class="post">
  <div class="title" id="title-post">
    {{!-- for every sigle post, display the title and the url of that post  --}}
    <a href="/post/{{id}}">{{title}}</a>
    <a href="{{post_url}}">({{format_url post_url}})</a>
    <span class="post-infos"> This post is  Created by {{user.username}} on {{format_date created_at}}</span>
  </div>
</article>
